annoy
beautifulsoup4
dotenv
faiss-cpu
gensim
gradio
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
librosa
lxml
matplotlib
networkx
node2vec
numpy
pandas
pillow
pinecone
pymupdf
pypdf2
sentence-transformers
streamlit
torch
torchvision